#site-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-content {
    flex: 1;
}

body {
  background-color: #eeece5;
  background: linear-gradient(125deg, #eeece5, #f3f3f3 41%, #ededed 0, #fff);
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.card {
  background-color: white;
  padding: 1.45rem;
  margin-bottom: 2rem;
}

.tag {
  font-family: sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: #FFDE74;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-image: url(./triangle.svg);
  background-size: 100%;
}

.main-document {
  background-color: white;
  padding: 1.45rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
  width: 100%;
}

a {
  color: #225E94;
  text-decoration: none;
  &:hover {
    text-decoration: underline;;
  }
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

#homepage h1 {
  font-size: 2rem
}
