.Header {
  // background-color: #f7cf4f;
  background-color: white;
}
.navbar {
  display: flex;
  a {
    color: #222;
    text-decoration: none;
  }
  @media (max-width: 600px) {
    flex-direction: column;
  }
}
.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.nav {
  display: flex;
}

.navLink {
  padding: 0.5rem 0;
  text-decoration: none;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
  font-family: sans-serif;
  &:hover{
    text-decoration: none;
    &:not(.activeNavLink) {
      border-bottom: 3px solid #f7cf4f;
    }
  }
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.activeNavLink {
  border-bottom: 3px dotted #f7cf4f;
}
